<p>one works!</p>

<!-- from app.ts

Day = new Date();
Number = 123456789;
Per = 3;
Cur = 1000;
obj = {name: 'rakey' , age:26};
arr = [1,2,3,4];

title = 'form';
submit= true;
text=true;


constructor(public taskService: TaskService){
}
ngOninit()
{

}
increaseCount()
{
this.taskService.count++;
}

users= [{ Rollno: 1, name:'ragini', age:26, Gen:'f', dep:'bca' },
{ Rollno: 2, name: 'suba', age:25,  Gen:'f', dep:'bca' },
{ Rollno: 3, name: 'mano', age:28,  Gen:'f', dep:'mca' },
{ Rollno: 4,name: 'viji', age:23, Gen:'f', dep:'bsc' },
{ Rollno: 5, name: 'krish', age:22,  Gen:'m', dep:'mca' },
{ Rollno: 6, name: 'kkkk', age:26 }] -->

  
  